#mediaqueries-c1 {
  h1 {
    font-weight: 400;
    font-size: 1rem;
    .mobile-only {
      display: inline;
    }
    .desktop-only {
      display: none;
    }
  }
}

#mediaqueries-c2 {
  display: flex;
  flex-direction: column;
  .box {
    width: 100%;
  }
}

@media screen and (min-width: 720px) {
  #mediaqueries-c1 {
    h1 {
      font-size: 2rem;
      .mobile-only {
        display: none;
      }
      .desktop-only {
        display: inline;
      }
    }
  }
  #mediaqueries-c2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    .box {
      width: auto;
    }
  }
}
