.elative2-box {
  position: relative;
}

.absolute-element-c1 {
  position: absolute;
  left: 760;
}

.first-box-c1 {
  top: 40px;
  margin-left: 60px;
}

.three-box-c1 {
  position: relative;
  top: 250px;
  right: 250px;
}

.four-box-c1 {
  position: relative;
  top: 200px;
  right: -70px;
}
