.orange-square {
  background-color: rgb(237, 109, 53);
  width: 150px;
  border: 1px solid;
  padding: 30px 20px;
}

.ocre-square {
  background-color: rgba(255, 217, 26, 0.503);
  width: 150px;
  height: 45px;
  border: 1px solid;
  padding: 5px 15px;
}

.center {
  text-align: center;
}

#position-c1 {
  #father {
    position: relative;
    left: 100px;
  }

  #son {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .square-b {
    position: relative;
    bottom: -20px;
    left: 60px;
    z-index: 10;
  }

  .square-c {
    position: relative;
  }
}

#position-c2 {
  #father {
    position: relative;
  }

  #son1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
  }

  #son2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  #father2 {
    position: relative;
    left: 100px;
  }

  #son3 {
    position: absolute;
    bottom: -20px;
    right: -20px;
  }
}
