#transitions-b1 {
  p {
    color: red;
  }

  .button {
    transition-property: color;
    transition-duration: 0.1s;
  }

  .button:hover {
    background-color: blue;
  }

  .title-world:hover {
    color: white;
  }
}
