#mediaqueries-a1 p {
  font-size: 15px;
}

#mediaqueries-a1 h4 {
  font-weight: 200;
}

@media (min-width: 992px) {
  #mediaqueries-a1 p {
    font-size: 20px;
  }
  #mediaqueries-a1 h4 {
    font-size: 30px;
    font-weight: 200;
  }
}

#mediaqueries-a2 p {
  font-size: 10px;
}

#mediaqueries-a2 h4 {
  font-weight: 200;
}

@media (min-width: 992px) {
  #mediaqueries-a2 p {
    font-size: 18px;
  }
  #mediaqueries-a2 h4 {
    font-weight: 500;
    font-size: 30px;
    text-decoration: underline;
  }
}

// ------

#mediaqueries-b1 p {
  font-size: 15px;
}

@media (min-width: 992px) {
  #mediaqueries-b1 p {
    font-size: 20px;
    padding-left: 30px;
  }
  #mediaqueries-b1 h4 {
    font-size: 30px;
    text-decoration: underline;
  }
}

#mediaqueries-b2 p {
  font-size: 15px;
}

@media (min-width: 992px) {
  #mediaqueries-b2 p {
    font-size: 28px;
  }
  #mediaqueries-b2 p {
    color: rgba(0, 4, 255, 0.186);
    text-decoration: underline;
    text-decoration-color: beige;
  }
}
