.l-container {
  max-width: 1240px;
  margin: 0 auto;
}

.l-row {
  display: flex;
  gap: 30px;
}

.l-col-6 {
  width: 50%;
}

.l-exercice {
  padding: 20px;
  border: solid 1px #ccc;
  margin-bottom: 30px;
}

.l-col-6:first-child .l-exercice {
  padding: 0;
}

.flexbox-c1 {
  display: flex;
  flex-direction: row;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
